html{
    height: 100%;
}
body{
    height: 100%;
    margin:0;    
}
.box{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 60px;
    display: flex;
    .con{
        flex:1;
        background-color: rgba(0,0,0,0.1);
    }
    .footer{
        position:fixed;
        background-color: #323131;
        height: 60px;
        bottom: 0;
        width:100%;
        a{
            text-decoration: none;
            color:rgba(254,170,17,1);
            display: block;
            width:33.33%;
            line-height: 60px;
            height: 60px;
            float: left;
            text-align: center;
         
        }
    }
        
}
