<section>
	<ul>
		<li><img src="./img/omiga3.png" alt="" /><img src="./img/y2.png" alt="" /></li>
		<li><img src="./img/p1.png" alt="" /><img src="./img/s2.png" alt="" /></li>
		<li><img src="./img/f1.png" alt="" /><img src="./img/y4.png" alt="" /></li>
		<li><img src="./img/s1.png" alt="" /><img src="./img/omiga1.png" alt="" /></li>
		<li><img src="./img/f5.png" alt="" /><img src="./img/y3.png" alt="" /></li>
		<li><img src="./img/omiga4.png" alt="" /><img src="./img/y1.png" alt="" /></li>
		<li><img src="./img/f3.png" alt="" /><img src="./img/f4.png" alt="" /></li>
		<li><img src="./img/omiga2.png" alt="" /><img src="./img/s8.png" alt="" /></li>
	</ul>
</section>