<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	    <script src="js/vue.min.js"></script>	
	</head>
	<body>
		<div class="box">
			<select v-model="m">
				<option v-for="item in y[0]">{{item}}</option>
			</select>
			<select>
				<option v-for="i in d">{{i}}</option>
			</select>			
		</div>
		
		<script>
			new Vue({
			    el:".box",
			    data:{
			    	y:[[1,2,3,4,5,6,7,8,9,10,11,12],[31,28,31,30,31,30,31,31,30,31,30,31]],
			    	m:"",
			    	d:'',
			    },
			    created(){
			    	this.m=1;
			    },
			    watch:{
			    	m:function(n){
			    		this.d=this.y[1][n-1];
			    	},
			    }
			})
		</script>
	</body>
</html>
