<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	<script src="js/vue.min.js"></script>
	<style>
	*{-webkit-user-select: none;}
		.color{
			width: 200px;
			height: 200px;
			background: white;
			border: 1px solid #000;
		}
		#app span{display: inline-block;width: 80px;}
		

	</style>
	</head>
	<body>
		<div id="app">
               <span>r:{{r}}</span><input type="range" min=0 max=255 v-model="r" /><br/>
               <span>g:{{g}}</span><input type="range" min=0 max=255 v-model="g" /><br/>
               <span>b:{{b}}</span><input type="range" min=0 max=255 v-model="b" /><br/>
               <span>a:{{a}}</span><input type="range" min=0 max=1 step=0.1 v-model="a" /><br/>
               <p id="color" class="color" :style="{background: c}" @click="showc">   </p>
		</div>
	<script>
		var vm = new Vue({
			el:"#app",  //根据id来接管元素
			data:{      //放置变量
				r:0,
				b:0,
				g:0,
				a:1,
                c:"black"
			},
			updated(){
				
				this.c=`rgba(${this.r},${this.g},${this.b},${this.a})`
			},
			methods:{
				showc(){
					alert(this.c);
				}
			}

		})
		
	</script>	
	</body>
</html>
